'''
missing values  
NaN(not a number);  
NA
'''

In [ ]:
import pandas as pd

In [ ]:
pd.options.mode.use_inf_as_na = True  ##consider inf,-inf as NA in computations

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame(
      np.random.randn(5, 3),
      index=["a", "c", "e", "f", "h"],
      columns=["one", "two", "three"],
    )

In [ ]:
df

In [ ]:
df['four']= 'foundation'
df['five']=df['one']>0 
df

In [ ]:
df2=df.reindex(['a','b','c','d','e','f','g','h'])
df2

In [ ]:
#isna(), notna() to detect na values 
df2.isna()

In [ ]:
## nan==nan (wrong) none==none (right)
##df2['four']==np.nan 这个是不对的， 不能这么看nan, 要用函数isna()
df2['four'].isna()

In [ ]:
pd.Series([1, 2, np.nan, 4], dtype=pd.Int64Dtype())   ##integer missing value, time missing is NaT

In [ ]:
# how to deal with the missing data 
##insert missing data with "none"
df2.loc['b']=None

In [ ]:
df2

In [ ]:
df2.groupby('one').mean()

In [ ]:
# inspecting -filling missing data

In [ ]:
#replace NA with a scaler value 

df2['one'].fillna(0)

In [ ]:
df2['two'].fillna("missing")

In [ ]:
df2['three'].fillna(method='pad')

In [ ]:
df2['four'].fillna(method='pad', limit=1)

In [ ]:
dff = pd.DataFrame(np.random.randn(10, 3), columns=list("ABC"))

In [ ]:
dff.iloc[3:5, 0] = np.nan  ##iloc 检索位置，行，列，左闭右开 
dff.iloc[4:6, 1] = np.nan
dff.iloc[5:8, 2] = np.nan 
dff

In [ ]:
dff.fillna(dff.mean())  ##填充指定值， 填充均值

In [ ]:
df2.dropna(axis=0)  # 删除行

In [ ]:
df2.dropna(axis=1)  # 删除列

In [ ]:
df4 = pd.DataFrame(
   {
      "A": [1, 2.1, np.nan, 4.7, 5.6, 6.8],
      "B": [0.25, np.nan, np.nan, 4, 12.2, 14.4],
   }
  )

In [ ]:
df4

In [ ]:
df4.interpolate()

In [ ]:
df4.count()

In [ ]:
df4.plot()

In [ ]:
df4.interpolate().plot()

In [ ]:
#replace a value, 

##indexing  【】
##functions () 
# {}